@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html,
  body {
    @apply h-full bg-black font-sans text-14;
  }
  #root {
    @apply h-full w-full;
  }

  /* remove outline */
  button,
  input,
  select {
    @apply focus:outline-none;
  }

  /* remove input number up down button */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  input:focus {
    border: none !important;
    outline: none !important;
  }

  *:focus {
    outline: none;
  }
}

@layer utilities {
  .dark-transition {
    @apply transition-colors duration-150;
  }
}

:root {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}
